# Ignore files
*.txt export-ignore
.gitignore export-ignore
.gitattributes export-ignore
src/ArgsMain.java  export-ignore
src/controller/ArgsController.java export-ignore

# Ignore folder
src/commands/ export-ignore
src/tests/ export-ignore
